@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
  --breakpoint-4k:2560px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* For Firefox */
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Class to prevent body scroll when modal is open */
.body-no-scroll {
  overflow: hidden;
}


#quoteModalCaptcha{
  background-color: white;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}